{{#if label}}
<label for="{{inputId}}" class="{{styles.label}}{{#if required}} {{styles.labelRequired}}{{/if}}">
    {{label}}
</label>
{{/if}}

{{{InputField}}}

{{#if error}}
<div class="{{styles.errorContainer}}">
    {{{alertIcon}}}
<p class="{{styles.errorMessage}}">{{error}}</p>
</div>
{{else if helpText}}
<p class="{{styles.helpText}}">{{helpText}}</p>
{{/if}}
