<main class="{{styles.page}}">
  <section class="{{styles.section}}">
    <div class="{{styles.logo}}">
      {{{logoIcon}}}
    </div>

    <div class="{{styles.titleGroup}}">
      <h1 class="{{styles.title}}">Welcome back</h1>
      <h2 class="{{styles.subtitle}}">Enter your credentials to access your account.</h2>
    </div>

    {{> sign-in-form}}
  </section>
</main>