<section class="{{styles.section}}">
  {{{Header}}}
  <div class="{{styles.container}}">
    {{{SignInForm}}}

    <nav class="{{styles.linkGroup}}">
      <p class="{{styles.subtitle}}">
        Don’t have an account?
      </p>
      <a class="{{styles.link}}" href="/#/sign-up">
        Sign up
      </a>
    </nav>
  </div>
</section>
