{{#if iconOnly}}
  {{#if icon}}<span class="{{styles.icon}}">{{{icon}}}</span>{{/if}}
{{else}}
  {{#if prefix}}<span class="{{styles.icon}}">{{{icon}}}</span>{{/if}}
  <span class="{{styles.buttonText}}">{{text}}</span>
  {{#if suffix}}<span class="{{styles.icon}}">{{{icon}}}</span>{{/if}}
{{/if}}
