<main class="{{styles.page}}">
  <section class="{{styles.section}}">
        <nav>
            {{> Button 
                tagName="a" 
                href="#/" 
                styles=btnStyles 
                variant="primary" 
                size="l" 
                iconOnly=true
                icon=caretLeftIcon
            }}
        </nav>
        <h1 class="{{styles.code}}">{{code}}</h1>
        <div class="{{styles.div}}"></div>
        <h2 class="{{styles.description}}">{{description}}</h2>
    </div>
</main>
