<section class="{{styles.section}}">
  <nav>
    {{{BackButton}}}
  </nav>
  <h1 class="{{styles.code}}">
    {{code}}
  </h1>
  <div class="{{styles.div}}"></div>
  <h2 class="{{styles.description}}">
    {{description}}
  </h2>
</section>
