<section class="{{styles.section}}">
  {{{Header}}}

  <nav>
    <ul class="{{styles.list}}">
      <li class="{{styles.item}}">
        {{{SignInButton}}}
      </li>

      <li class="{{styles.item}}">
        {{{SignUpButton}}}
      </li>

      <li class="{{styles.item}}">
        {{{ChatsButton}}}
      </li>

      <li class="{{styles.item}}">
        {{{SettingsButton}}}
      </li>

      <li class="{{styles.item}}">
        {{{NotFoundButton}}}
      </li>

      <li class="{{styles.item}}">
        {{{ServerErrorButton}}}
      </li>
    </ul>
  </nav>
</section>
