<main class="{{styles.page}}">
  <section class="{{styles.section}}">
    <div class="{{styles.logo}}">
      {{{logoIcon}}}
    </div>

    <div class="{{styles.titleGroup}}">
      <h1 class="{{styles.title}}">Create your account</h1>
      <h2 class="{{styles.subtitle}}">Join Toki and start messaging in seconds.</h2>
    </div>

    <div class="{{styles.container}}">
      {{> sign-up-form}}

      <nav class="{{styles.linkGroup}}">
        <p class="{{styles.subtitle}}">Already have an account?</p>
        <a class="{{styles.link}}" href="/#sign-in">Sign in</a>
      </nav>
    </div>

  </section>
</main>