<div class="{{styles.inputs}}">
    {{{EmailInput}}}
    {{{LoginInput}}}
    {{{FirstNameInput}}}
    {{{SecondNameInput}}}
    {{{PhoneInput}}}
    {{{PasswordInput}}}
    {{{ConfirmPasswordInput}}}
</div>

{{{SignUpButton}}}
