<header class="{{styles.header}}">
  {{{Header}}}
</header>

<main class="{{styles.main}}">
  <nav class="{{styles.nav}}">
    {{{ToChatsButton}}}
  </nav>
  <ul class={{styles.settingsList}}>
    <li class={{styles.settingsItem}}>
      <section class="{{styles.section}}">
        {{{BasicInfoHeading}}}
        {{{UserInformationForm}}}
      </section>
    </li>

    <li class={{styles.settingsItem}}>
      <section class="{{styles.section}}">
        {{{ChangePasswordHeading}}}
        {{{ChangePasswordForm}}}
      </section>
    </li>

    <li class={{styles.settingsItem}}>
      <section class="{{styles.section}}">
        {{{ChangeAvatarHeading}}}
        {{{ChangeAvatarForm}}}
      </section>
    </li>
  </ul>
</main>
