<main class="{{styles.page}}">
  <section class="{{styles.leftPanel}}">
    <header class="{{styles.header}}">
      <div class={{styles.logo}}>
        {{{logoIcon}}}
      </div>
      {{> Button styles=btnStyles variant="outline" size="m" icon=gearSixIcon iconOnly=true }}
    </header>

    <form class="{{styles.searchChat}}">
      {{> Input 
        name="search" 
        placeholder="Search"
        value=formData.username
        styles=inputStyles
      }}
    </form>

    <ul class="{{styles.chatsList}}">
      {{#each chats}}
        {{> ChatItem
          styles=../chatItemStyles
          avatarUrl=this.avatarUrl
          displayName=this.displayName
          time=this.time
          message=this.message
          unread=this.unread
          avatarStyles=../avatarStyles
        }}
      {{/each}}
      
    </ul>
  </section>

  <div class={{styles.dividerV}}></div>

  <section class="{{styles.rightPanel}}">
    <header class="{{styles.header}}">
      <div class={{styles.chatInfo}}>
        {{> Avatar src="../../assets/images/avatar.jpg" size="s" styles=avatarStyles }}
        <h1 class="{{styles.chatName}}">William Smith</h1>
      </div>
      {{> Button styles=btnStyles variant="outline" size="m" icon=dotsThreeIcon iconOnly=true }}
    </header>
    <ul class="{{styles.messagesList}}"> 
      <li class="{{styles.message}}">
        <p class="{{styles.text}}">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita cumque quis accusantium autem ex minima animi unde voluptatibus repellendus, fugiat molestias, ab aliquam pariatur laboriosam velit iste officia fugit eligendi. Sapiente et sequi, molestiae tempore nam autem hic eius sint at ab culpa corrupti maiores dolores cum quos error, non odit itaque recusandae? Possimus ad exercitationem expedita cumque? A, vel.</p>
        <time class="{{styles.messageTime}}">10:21</time>
      </li>

      <li class="{{styles.message}} {{styles.self}}">
        <p class="{{styles.text}}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed, cum? Repudiandae suscipit odit quibusdam sed nesciunt consectetur temporibus quas distinctio alias magnam laudantium quaerat, praesentium ut dolores ad ratione quasi beatae porro voluptates modi, fugiat facilis cum itaque perspiciatis? Ad laboriosam voluptates, eius illo ut nemo aspernatur odio ducimus iure sint autem dolorem iste tempora magni aliquam, rerum officia nobis voluptatem exercitationem perferendis quia? Vero, enim? Minus perspiciatis nemo et laudantium voluptas non quisquam quidem ea suscipit mollitia minima, placeat, tenetur itaque, labore aut tempore facilis impedit? Dolores ad sint rem sapiente deserunt animi numquam asperiores unde in esse. Temporibus?</p>
        <time class="{{styles.messageTime}}">10:03</time>
      </li>

      <li class="{{styles.message}}">
        <p class="{{styles.text}}">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita cumque quis accusantium autem ex minima animi unde voluptatibus repellendus, fugiat molestias, ab aliquam pariatur laboriosam velit iste officia fugit eligendi. Sapiente et sequi, molestiae tempore nam autem hic eius sint at ab culpa corrupti maiores dolores cum quos error, non odit itaque recusandae? Possimus ad exercitationem expedita cumque? A, vel.</p>
        <time class="{{styles.messageTime}}">10:00</time>
      </li>
      <date class="{{styles.dateTag}}">May 17</date>
    </ul>
    <form class="{{styles.form}}">
      {{> Input 
        name="message" 
        placeholder="Write a message..."
        value=formData.username
        styles=inputStyles
      }}

      {{> Button type="submit" styles=btnStyles variant="primary" size="m" icon=paperPlaneTilt iconOnly=true }}
    </form>
  </section>
</main>