<div class={{styles.header}}>
  <div class="{{styles.logo}}">
    {{{logoIcon}}}
  </div>

  <div class="{{styles.titleGroup}}">
    <h1 class="{{styles.title}}">{{title}}</h1>
    <h2 class="{{styles.subtitle}}">{{subtitle}}</h2>
  </div>
</div>