<div class="{{styles.avatarGroup}}">
  {{{Avatar}}}
  {{{EditButton}}}
</div>

<dialog id="uploadAvatarModal" class="{{styles.dialog}}">
  <form method="dialog" class="{{styles.fileForm}}">
    <h2 class="{{styles.dialogTitle}}">
      Upload new avatar
    </h2>
    {{{AvatarInput}}}
    <menu class="{{styles.dialogControls}}">
      {{{CancelButton}}}
      {{{SaveButton}}}
    </menu>
  </form>
</dialog>
